<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/prospex.png" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">The Challenge</a></li>

		<li><a href="/values" class="pa3 no-underline db">What We Do</a></li>

		<li><a href="/post" class="pa3 no-underline db">Why We're Different</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Fundraising</a></li>

		<span class="pa3 no-underline db navigation-box-toggle">Menu</span>

	</ul>

</nav>
